<script lang='ts' setup>
import { depositOrder, payTypeList } from '@/http/api';
import { computed, onMounted, reactive, ref } from 'vue'
import { showFailToast  } from 'vant';
import { useStore } from 'vuex';
const store = useStore();
const onIndex = ref(0)
const inputamount = ref('')
const curAmountIndex = ref(1)

onMounted(() => {
    dataMap.getList()
})


const dataMap = reactive({
  list: Array<any>(),
  listLoading: true,
  async getList() {
    dataMap.listLoading = true
    const data: any = await payTypeList({ groupId: store.state.userInfo.groupId }).catch()
    dataMap.list = data?.data.data ?? []
    dataMap.listLoading = false
  }
})

const recommendList = computed(() => {
    if(!dataMap.list.length) return []
    const target = dataMap.list[onIndex.value].recommendAmount
    let temp = target.split(',').filter((el: any) => el !== '')
    return temp
})

const range = computed(() => {
    if(!dataMap.list.length) return ''
    return dataMap.list[onIndex.value].amount
})

const inputChange = (event: any) => {
    let value = event.target.value
    event.target.value = value.replace(/[^\d]/g,'')
    if(range.value) {
        const ranges = range.value.split('-')
        if (Number(value) < Number(ranges[0])) event.target.value = ranges[0]
        if (Number(value) > Number(ranges[1])) event.target.value = ranges[1]
    }
}

const setAmount = (item: any) => {
    curAmountIndex.value = item
    inputamount.value = item
}

const toNextStep = () => {
    if (!dataMap.list.length) return
    depositOrder({
        groupId: store.state.userInfo.groupId,
        memberId: store.state.userInfo.userId,
        channelId: dataMap.list[onIndex.value].id,
        amount: inputamount.value
    }).then((res: any) => {
        if(res.data.code === 200) {
            window.open(res.data.data.url, '_blank')
        } else {
            showFailToast('Failed');
        }
    })
}

</script>
<script lang='ts'>
export default {
    name: "recordList"
}
</script>
<template>
    <div class="header">
        <div class="left" @click="$router.push('/home')">{{$t('Back')}}</div>
        <div class="middle fb col">
            <div class="title">DEPOSIT</div>
        </div>
    </div>
    <div class="body">
        <div class="title">Use one of the payment methods below to pay</div>
        <div class="payways">
            <div class="list fb">
                <div :class="`item fb col ${onIndex === index && 'on'}`" v-for="(item, index) in dataMap.list" :key="index" @click="onIndex = index">
                    <img src="@/assets/pay1.png" alt="">
                    <img src="@/assets/payitemon.png" class="on" alt="">
                    <div class="name">{{item.name}}</div>
                </div>
                <div v-show="dataMap.listLoading" class="item skeleton" v-for="item in 2" :key="item">
                    {{ dataMap.listLoading }}
                </div>
            </div>
        </div>
        <template v-if="dataMap.list.length">
            <div class="title title2">Select Amount</div>
            <div class="amount fb">
                <div :class="`item fb col ${curAmountIndex === item && 'on'}`" v-for="item in recommendList" :key="item" @click="setAmount(item)">
                    <img src="@/assets/payitemon.png" class="on" alt="">
                    <div class="name">{{item}} USDT</div>
                </div>
            </div>
        </template>
        <div class="title title2">Enter Amount</div>
        <div class="input">
            <input type="text" v-model="inputamount" @input="inputChange" placeholder="please input a amount" class="inputamount">
            <div class="range" v-show="range">Range {{ range }}</div>
        </div>
        <div class="next" @click="toNextStep">
            <img src="@/assets/next.png" alt="">
        </div>
    </div>
</template>

<style lang="scss" scoped>
.header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 0.48rem;
    background: #000;
    color: #fff;
    padding: 0 0.16rem;
    font-size: 0.14rem;
    .left,.middle{
        width: 33.3%;
    }
    .title {
        font-weight: 500;
    }
}
.body {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 0.16rem;
    color: #fff;
    font-size: 0.14rem;
    .skeleton{
        color: transparent;
    }
    .title{
        font-size: 0.16rem;
        margin-bottom: 0.14rem;
        &.title2{
            padding: 0.2rem 0;
            margin-bottom: 0;
        }
    }
    .payways, .amount{
        width: 100%;
        overflow: hidden;
        .list{
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-x: auto
        }
        .item{
            background: linear-gradient(180deg, #005EA1 0%, #0081D5 100%);
            border: 0.01rem solid #50ABE3;
            box-shadow: 0px 0.04rem 0.06rem 0px #003C7A73 inset;
            min-width: 1.13rem;
            height: 0.81rem;
            border-radius: 0.1rem;
            margin-right: 0.03rem;
            overflow: hidden;
            position: relative;
            &.on{
                border-color: #F3BA2F;
                .on{
                    display: block;
                }
            }
            .on{
                display: none;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0.35rem;
                height: 0.35rem
            }
            img{
                width: 0.48rem;
                height: 0.48rem;
            }
            .name{
                font-size: 0.12rem;
                font-weight: 500;
                color: #000;
            }
        }
    }
    .amount{
        flex-wrap: wrap;
        justify-content: flex-start;
        .item{
            min-width: 1.11rem;
            height: 0.34rem;
            margin-bottom: 0.08rem;
            .name{
                color: #A8DAFF;
            }
            &.on{
                .name{
                    color: #fff;
                }
            }
        }
    }
    .input{
        width: 100%;
        position: relative;
        .range{
            position: absolute;
            right: 5%;
            top: 20%;
        }
    }
    .inputamount{
        background: linear-gradient(180deg, #002D7A 0%, #005598 100%);
        border: 1px solid #00AAE6;
        box-shadow: 0px 2px 4px 0px #00195B inset;
        width: 100%;
        height: 0.34rem;
        border-radius: 0.3rem;
        padding: 0 0.14rem;
    }
    .next{
        width: 100%;
        margin-top: 0.51rem;
        img{
            width: 100%;
        }
    }
}
</style>