<script lang='ts' setup>
import { getGame } from '@/http/api';
import { showFailToast } from 'vant';
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex';
const router = useRouter();
const store = useStore();
const url = ref('')
onMounted(() => {
  store.state.userInfo.gameId && getGame({
    gameId: store.state.userInfo.gameId,
    vendorId: store.state.userInfo.vendorId
  }).then((res: any) => {
    if(res.data.code === 200) {
      url.value = res.data.data
    } else {
      showFailToast('Under maintenance');
    }
  })
  window.scrollTo(0, 0)
})
</script>
<script lang='ts'>
export default {
  name: "homePage"
}
</script>
<template>
  <div class="body" v-show="$route.name === 'homePage'">
    <div class="toprouter">
      <img src="@/assets/homebg.png" alt="">
      <div class="btn btn1" @click="router.push('/record')"></div>
      <div class="btn btn2" @click="router.push('/addup')"></div>
    </div>
    <div class="iframe">
      <iframe :src="url"></iframe>
    </div>
  </div>
  <router-view></router-view>
</template>

<style lang="scss" scoped>
.body {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-size: 0.14rem;
}

.toprouter {
  height: 0.95rem;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }

  .btn {
    width: 1rem;
    height: 0.35rem;
    position: absolute;
    right: 0.16rem;

    &.btn1 {
      top: 0.1rem;
    }

    &.btn2 {
      top: 0.5rem;
    }
  }
}
.iframe{
  width: 100%;
  flex: 1;
  iframe{
    height: 100vh;
    border: none;
    width: 100%;
  }
}
</style>