<script lang='ts' setup>
import { clickDiamond, getDiamondsByTime } from '@/http/api';
import { onMounted, reactive, ref } from 'vue'
import dayjs from 'dayjs'
import { showLoadingToast, closeToast  } from "vant";
const formatDate = (date: any) => `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
const tempTime = formatDate(new Date())
const firstdate = ref(tempTime);
const lastdate = ref(tempTime);
const show = ref(false);
const onIndex = ref(0)
const onConfirm = (values: any) => {
      const [start, end] = values;
      show.value = false;
      firstdate.value = `${formatDate(start)}`;
      lastdate.value = `${formatDate(end)}`;
      onIndex.value = 0
      dataMap.getList()
};

const setIndex = (index: number) => {
    onIndex.value = index
    const date = new Date()
    const target = date.setDate(date.getDate() - index)
    firstdate.value = `${formatDate(new Date(target))}`;
    lastdate.value = tempTime;
    dataMap.getList()
}


const dataMap = reactive({
  list: Array<any>(),
  listLoading: true,
  total: 0,
  listQuery: {
    currentPage: 1,
    pageSize: 20
  },
  async getList() {
    dataMap.listLoading = true
    showLoadingToast({
        duration: 10000,
        message: 'Loading...',
        forbidClick: true,
    });
    const data: any = await getDiamondsByTime({ ...dataMap.listQuery, startDate: firstdate.value + ' 00:00:00', endDate: lastdate.value + ' 23:59:59' }).catch()
    if (data.data.code === 200) {
        dataMap.list = data?.data.data.records ?? []
        dataMap.total = data?.data.data.total ?? 0
    }
    dataMap.listLoading = false
    closeToast()
  }
})

onMounted(() => {
    dataMap.getList()
})

const claimDiamend = (item: any) => {
    clickDiamond({ id: item.id })
    window.open(item.link, '_blank')
}

const goSearch = () => {
    dataMap.listQuery.currentPage = 1
    dataMap.getList()
}

</script>
<script lang='ts'>
export default {
    name: "recordList"
}
</script>
<template>
    <div class="header">
        <div class="left" @click="$router.push('/home')">{{$t('Back')}}</div>
        <div class="middle fb col">
            <div class="title">DIAMOND</div>
        </div>
    </div>
    <div class="body">
        <div class="name">Time Rango</div>
        <div class="timerange fb">
            <div class="first fb" @click="show = true">{{ firstdate }}</div>
            <div class="line"></div>
            <div class="last fb" @click="show = true">{{ lastdate }}</div>
            <img src="@/assets/search.png" alt="" @click="goSearch" class="search">
        </div>
        <div class="timearry fb">
            <div :class="`item fb ${onIndex === 0 && 'on'}`" @click="setIndex(0)">Today</div>
            <div :class="`item fb ${onIndex === 3 && 'on'}`" @click="setIndex(3)">3 days</div>
            <div :class="`item fb ${onIndex === 5 && 'on'}`" @click="setIndex(5)">5 days</div>
            <div :class="`item fb ${onIndex === 10 && 'on'}`" @click="setIndex(10)">10 days</div>
        </div>
        <div class="list">
            <div class="listtitle fb">
                <div class="item fb">Time</div>
                <div class="item fb">Diamond</div>
                <div class="item fb">Address</div>
            </div>
            <div class="contentlist">
                <div class="listbody fb" v-for="item in dataMap.list" :key="item">
                    <div class="item fb">{{ dayjs(item.sendTime).format('HH:mm MM-DD') }}</div>
                    <div class="item fb">{{ item.amount }} <img src="@/assets/diamond.png" class="diamond" alt=""></div>
                    <div class="item fb">
                        <img src="@/assets/claimbtn.png" @click="claimDiamend(item)" class="btn" alt="">
                    </div>
                </div>
            </div>
            <div class="empty fb col" v-show="!dataMap.list.length">
                <img src="@/assets/empty.png" alt="">
                <div class="text">It is empty here</div>
            </div>
        </div>
        <div class="page fb">
            <van-pagination v-model="dataMap.listQuery.currentPage" :items-per-page="20" force-ellipses @change="dataMap.getList"
                :total-items="dataMap.total" :show-page-size="3">
                <template #prev-text>
                    <img src="@/assets/pagearrow.png" class="arrowbtn" alt="">
                </template>
                <template #next-text>
                    <img src="@/assets/pagearrow.png" class="arrowbtn r180" alt="">
                </template>
            </van-pagination>
        </div>
    </div>
    <van-calendar v-model:show="show" type="range" @confirm="onConfirm" />
</template>

<style lang="scss" scoped>
.header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 0.48rem;
    background: #000;
    color: #fff;
    padding: 0 0.16rem;
    font-size: 0.14rem;
    .left,.middle{
        width: 33.3%;
    }
    .title {
        font-weight: 500;
    }
}
.body {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 0.2rem;
    color: #fff;
    font-size: 0.14rem;
    .contentlist{
        max-height: calc(100vh - 3.2rem);
        overflow-y: auto
    }
    .name{
        font-size: 0.18rem;
        font-weight: 700;
        margin-bottom: 0.14rem;
    }
    .timerange{
        .line{
            height: 0.02rem;
            width: 0.09rem;
            background-color: #51abe3;
            margin: 0 0.05rem;
        }
        .first,.last{
            border-radius: 0.3rem;
            width: 1.4rem;
            height: 0.3rem;
            background: linear-gradient(180deg, #005EA1 0%, #0081D5 100%);
            border: 0.01rem solid #51abe3;
        }
        .search{
            width: 0.4rem;
            height: 0.4rem;
            margin-left: 0.05rem;
        }
    }
    .timearry{
        margin-top: 0.1rem;
        .item{
            background: linear-gradient(180deg, #005EA1 0%, #0081D5 100%);
            box-shadow: 0px 3.75px 2.5px 0px #00000040;
            box-shadow: 0px 1.34px 0px 0px #0064BF;
            box-shadow: 0px 0.5px 0px 0px #005DB2;
            box-shadow: 0px 1.25px 2.5px 0px #87E0F6 inset;
            padding: 0.06rem 0.12rem 0.06rem 0.12rem;
            height: 0.27rem;
            border-radius: 0.3rem;
            margin-right: 0.06rem;
            font-size: 0.12rem;
            font-weight: 500;
            &.on{
                background: linear-gradient(180deg, #74DEF5 0%, #009BCC 100%);
                box-shadow: 0px 3.75px 2.5px 0px #00000040;
                box-shadow: 0px 1.34px 0px 0px #0064BF;
                box-shadow: 0px 0.5px 0px 0px #005DB2;
                box-shadow: 0px 1.25px 2.5px 0px #87E0F6 inset;
            }
        }
    }
    .list{
        margin-top: 0.1rem;
        border: 1px solid #009DDE;
        background: #00347D;
        box-shadow: 0px 2px 0px 0px #00000040;
        box-shadow: 0px 2px 4px 0px #001D5F inset;
        box-shadow: 0px -2px 4px 0px #009DDE inset;
        width: 100%;
        font-size: 0.12rem;
        border-radius: 0.06rem;
        .listtitle{
            justify-content: space-between;
            height: 0.33rem;
            .item{
                width: 33.3%;
            }
        }
        .listbody{
            justify-content: space-between;
            height: 0.39rem;
            border-top: 0.01rem solid rgba(255,255,255,0.1);
            .item{
                width: 33.3%;
                .btn{
                    height: 0.24rem;
                }
                .diamond {
                    height: 0.17rem;
                    margin-left: 0.1rem;
                }
            }
        }
        .empty{
            height: 50vh;
           img{
            width: 0.8rem;
            margin-bottom: 0.1rem;
           }
           .text{
            color: #6BB4EA;
            font-size: 0.12rem;
            font-weight: 500;
           }
        }
    }
    .arrowbtn{
        width: 0.4rem;
        &.r180{
            transform: scaleX(-1);
        }
    }
    .page{
        width: 100%;
        margin-top: 0.18rem;
        .van-pagination{
            width: 100%;
        }
        :deep(.van-pagination__item):active{
            background-color: transparent;
        }
        :deep(.van-pagination__item--active){
            background-color: transparent;
            min-width: 0.67rem;
            button{
                min-width: 0.67rem;
                max-width: 0.67rem;
                border-radius: 0.2rem !important;
            }
        }
        :deep(.van-pagination__item--page) {
            flex: 1;
            button{
                background: linear-gradient(180deg, #005EA1 0%, #0081D5 100%);
                box-shadow: 0px 3.75px 2.5px 0px #00000040;
                box-shadow: 0px 1.34px 0px 0px #0064BF;
                box-shadow: 0px 0.5px 0px 0px #005DB2;
                box-shadow: 0px 1.25px 2.5px 0px #87E0F6 inset;
                border-radius: 50%;
                max-width: 0.4rem;
                height: 0.4rem;
                color: #fff;
            }
        }
    }
    --van-border-width: 0;
    --van-pagination-background: none;
    --van-pagination-item-disabled-background: none;
}
</style>