
@font-face {
  font-family: 'DIN';
  src: url('./DIN.otf') format('openType');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DIN';
  }
ul,
ol,
li {
  list-style: none;
}