<template>
  <div class="fb col container">
    <router-view></router-view>
  </div>
</template>
<script setup>
import { onMounted } from 'vue'

onMounted(() => {
  const oWidth = document.body.clientWidth || document.documentElement.clientWidth;
  if (oWidth > 768) {
    getRem(1920, 100);
  } else {
    getRem(375, 100);
  }
})


const getRem = (pwidth, prem) => {
  const html = document.getElementsByTagName("html")[0];
  const oWidth = document.body.clientWidth || document.documentElement.clientWidth;
  html.style.fontSize = oWidth / pwidth * prem + "px";
}

</script>

<style lang="scss" scoped>
.container {
    min-height: 100vh;
    width: 100%;
    background-image: url('@/assets/bg.png');
    background-size: 100%;
}
</style>